.container-style {
    height: 100vh;
    padding: 20px !important;
}

.container-row {
    background-color: white !important;
    height: 100%;
    padding-left: 15px !important;
    border-radius: 20px;
    -webkit-box-shadow: -4px 4px 40px 11px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -4px 4px 40px 11px rgba(0, 0, 0, 0.22);
    box-shadow: -4px 4px 40px 11px rgba(0, 0, 0, 0.22);
}

.sidebar-style {
    width: 250px !important;
    padding-left: 30px;
    padding-top: 30px;
    height: calc(100% - 30px) !important;
    display: grid !important;
}

.page-wrapper-container {
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-top: 30px;

    display: table !important;
    width: 100%;
    table-layout: fixed !important;
    height: 100% !important;
}