.container-style {
  height: 100vh;
  padding: 0px !important;
}

.container-row {
  background-color: white !important;
  height: 100%;
  padding-left: 0px !important;
  margin: 0px !important;
}

/* .sidebar-style {
    width: 250px !important;
    padding: 0px !important;
    height: 100% !important;
    display: grid !important;
} */

.page-wrapper-container {
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-top: 30px;
  display: table !important;
  width: 100%;
  table-layout: fixed !important;
  height: 97.5% !important;
}

/* Default styles for the sidebar */
.sidebar-style {
  width: 250px;
  transition: width 0.3s ease; /* Add a transition effect for smooth opening/closing */
}

/* Styles for the open state of the sidebar */
.sidebar-open {
  width: 250px !important;
  padding: 0px !important;
  height: 100% !important;
  display: grid !important;
}

.sidebar-closed {
  width: 0;
}

.MuiBox-root .MuiPaper-root {
  background-color: #495057 !important; /*  #7e7c7b */
}

/* .MuiButtonBase-root:hover {
  background-color: #545b61 !important; 
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px); 
  transition: all 0.3s ease; 
} */
