.dashboard-container {
  padding-left: 45px !important;
}
.card-container {
  max-width: 300px !important;
  height: 150px !important;
  min-height: 125px !important;
}
.chart-container {
  padding-right: 70px !important;
}
.dashboard-chart {
  width: 99% !important;
  height: 400px !important;
  padding-top: 30px !important;
  border-radius: 20px !important;
  color: white;
  font-size: 30px !important;

  -webkit-box-shadow: (0 0 0 / 6%) 0px 3px 3px -2px,
    rgb(0 0 0 / 4%) 0px 3px 4px 0px, rgb(0 0 0 / 4%) 0px 1px 8px 0px;
  -moz-box-shadow: (0 0 0 / 6%) 0px 3px 3px -2px,
    rgb(0 0 0 / 4%) 0px 3px 4px 0px, rgb(0 0 0 / 4%) 0px 1px 8px 0px;

  box-shadow: rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 4%) 0px 3px 4px 0px,
    rgb(0 0 0 / 4%) 0px 1px 8px 0px;
}

div.dahsboard-card {
  width: 80% !important;
  height: 80% !important;
  border-radius: 20px !important;
  color: white;
  font-size: 20px !important;
  font-family: 'sans-serif';
  font-weight: normal;
}

.card1 {
  background-color: #2e7d32;
 
}

.card2 {
  background-color: #ed6c02;
 
}

.card3 {
 background-color: #d32f2f;
}

.card4 {
  background-image: linear-gradient(to right, #fdb32f, #f78356);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(247, 131, 86, 0.35);
  -moz-box-shadow: 0px 5px 15px 0px rgba(247, 131, 86, 0.35);
  box-shadow: 0px 5px 15px 0px rgba(247, 131, 86, 0.35);
}

.dashboard-row-distance {
  margin-bottom: 50px !important;
}

.chart {
  width: 100% !important;
  height: 100% !important;
}
