.dashboard-container {
  padding-left: 45px !important;
}

.dashboard-chart {
  background-color: #dee2e6 !important;
  width: 100% !important;
  height: 400px !important;
  padding: 15px !important;
  border-radius: 8px !important;
  color: white;
  font-size: 30px !important;

  -webkit-box-shadow: (0 0 0 / 6%) 0px 3px 3px -2px,
    rgb(0 0 0 / 4%) 0px 3px 4px 0px, rgb(0 0 0 / 4%) 0px 1px 8px 0px;
  -moz-box-shadow: (0 0 0 / 6%) 0px 3px 3px -2px,
    rgb(0 0 0 / 4%) 0px 3px 4px 0px, rgb(0 0 0 / 4%) 0px 1px 8px 0px;

  box-shadow: rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 4%) 0px 3px 4px 0px,
    rgb(0 0 0 / 4%) 0px 1px 8px 0px;
}

div.dahsboard-card {
  width: 80% !important;
  height: 80% !important;
  border-radius: 20px !important;
  color: white;
  font-size: 20px !important;
  font-family: 'sans-serif';
  font-weight: normal;
}

.Total {
  background-color: #1976d2 !important;
}

.Completed {
  background-color: #2e7d32 !important;
}

.InProgress {
  background-color: #ed6c02 !important;
 
}
.Canceled {
  background-color: #d32f2f !important;
 }

.card-status .MuiSvgIcon-root {
  font-size: 40px !important;
}

.chart {
  width: 100% !important;
  height: 100% !important;
}

.card-status {
  background-color: #dee2e6 !important;
}

.top-equipments {
  height: 500px !important;
}