.child1 {
  background-image: url('../../assets/login_b555g.jpg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

.signin-icon-parent {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #bdbdbd;
  margin: 8px;
  background-color: #9c27b0;
}

.signin-icon-child {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
}

.css-zq6grw {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}

.css-1jm6nq8 {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 40px;
}

.copyRight {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 20px;
}

/* .login-input-rounded .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-radius: 4px !important;
  border: 1px solid;
  border-color: #00000099;
} */

.login-input-rounded .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-radius: 4px !important;
  border: 1px solid;
  border-color: #323484;
}

.login-btn {
  border-radius: 4x !important;
  background-color: #323484 !important;
  font-size: medium !important;
}

.login-btn:hover {
  background-color: #645eb4 !important;
}

@media only screen and (max-width: 768px) {
  .logo-test {
    /* background-color: red !important; */
    position: relative !important;
    top: 20% !important;
    right: 0px !important;
  }
}
