
.input-rounded .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-radius: 4px;
  border: 1px solid;
  border-color: #00000099;
}

.input-rounded
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-radius: 4px;
  border: 1px solid;
}

.multi-line-input-rounded
  .MuiOutlinedInput-root
  .MuiOutlinedInput-notchedOutline {
  border-radius: 4px !important;
  border: 1px solid;
  border-color: #00000099;
}

.multi-line-input-rounded
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-radius: 4px;
  border: 1px solid;
}

.date-picker {
  width: 100%;
}

.form-between-rows-distance {
  margin-bottom: 30px !important;
}

.multi-line-text {
  width: 100% !important;
}

.rounded-btn {
  border-radius: 4px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-left: 20px !important;
  color: #e53935 !important;
}

.save-btn{
 
  border: 1px solid #e53935 !important;
}

.cancel-btn{
  
  border: 1px solid #e53935 !important;
}

.save-btn:hover {
  color: #fff !important;
  background-color: #e53935 !important;
}

.cancel-btn:hover {
  color: #fff !important;
  background-color:  #e53935 !important;
}
