.add-button{
    border-radius: 8px !important;
    background-color: #e53935  !important;
}

.MuiTable-root th {
    background-color: #a1978f40 !important;  /* Set your desired background color */
    font-family: "roboto";
    font-size: 18px;
    font-weight: bold;
    
  }
  
  .tss-1cdcmys-MUIDataTable-responsiveBase{
    border-radius: 8px !important;
  }