/* .add-button {
  border-radius: 4px !important;
  background-color: #e53935 !important;
  font-weight: 600 !important;
  color: white !important;
} */
.action-btn {
  transition: transform 0.3s ease;
}

.action-btn:hover {
  transform: scale(1.5);
}
.MuiTable-root th {
  background-color: #a1978f40 !important; /* Set your desired background color */
  font-family: 'roboto';
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.MuiTableCell-body {
  text-align: center !important;
}

.MuiPaper-root {
  overflow: auto !important;
}

.tss-1cdcmys-MUIDataTable-responsiveBase {
  border-radius: 8px !important;
}
